---
layout: default
---
<main class="content">
    {% assign posts = site.posts | sort: 'date' %}
    {% for post in posts %}
        <section id="{{ post.title | slugify }}" class="section-{{ post.title | slugify }} fade-in-down">
            <div class="inner">
                <header class="section-header">
                    <h2 class="section-title">{{ post.title }}</h2>
                </header>
                
                <div class="section-content">
                    {% if post.featured_image %}
                    <div class="featured-image">
                        <img src="{{ "/images/posts/" | append: post.featured_image | prepend: site.baseurl }}" alt="{{ post.title }}">
                    </div>
                    {% endif %}
                    
                    {{ post.content }}
                </div>
            </div>
        </section>
    {% endfor %}
</main>
